cairocffi==1.3.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
decorator==4.4.2
gizeh==0.1.11
idna==3.3
imageio==2.21.1
imageio-ffmpeg==0.4.7
intervaltree==3.1.0
mido==1.2.10
more-itertools==8.14.0
moviepy==1.0.3
numpy==1.23.1
Pillow==9.2.0
proglog==0.1.10
pycparser==2.21
requests==2.28.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.16.0
sortedcontainers==2.4.0
tqdm==4.64.0
urllib3==1.26.11
vext==0.7.6
vext.gi==0.7.4
xcffib==0.11.1
